<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leiyuan.bs.mapper.ApplyMapper" >
  <resultMap id="BaseResultMap" type="com.leiyuan.bs.entity.Apply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="re_id" property="reId" jdbcType="INTEGER" />
    <result column="apply_time" property="applyTime" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, re_id, apply_time, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.leiyuan.bs.entity.Apply" >
    insert into apply (id, user_id, re_id, 
      apply_time, state)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{reId,jdbcType=INTEGER}, 
      #{applyTime,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.leiyuan.bs.entity.Apply" >
    insert into apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="reId != null" >
        re_id,
      </if>
      <if test="applyTime != null" >
        apply_time,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="reId != null" >
        #{reId,jdbcType=INTEGER},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.leiyuan.bs.entity.Apply" >
    update apply
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="reId != null" >
        re_id = #{reId,jdbcType=INTEGER},
      </if>
      <if test="applyTime != null" >
        apply_time = #{applyTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leiyuan.bs.entity.Apply" >
    update apply
    set user_id = #{userId,jdbcType=INTEGER},
      re_id = #{reId,jdbcType=INTEGER},
      apply_time = #{applyTime,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryMyApplyList" parameterType="java.lang.Integer" resultType="com.leiyuan.bs.vo.MyApplyVo">
    SELECT
    a.id applyId,
    a.apply_time applyTime,
    a.state applyState,
    a.re_id reId,
    r.title reTitle,
    r.money money
    FROM `apply` a,recruitment r
    where a.re_id=r.id
    and a.user_id=#{userId,jdbcType=INTEGER}
  </select>
  <select id="getReApplyList" parameterType="java.lang.Integer" resultType="com.leiyuan.bs.vo.ReApplyVo">
   SELECT
    a.id applyId,
    a.apply_time applyTime,
    a.state applyState,
    a.re_id reId,
    u.id userId,
    u.`name` userName,
    u.email userEmail,
    u.phone userPhone,
    u.`password` userPassword,
    u.age userAge,
    u.sex userSex
    FROM `apply` a,user u
    where a.user_id=u.id
    and a.re_id=#{reId,jdbcType=INTEGER}
  </select>
</mapper>